{% trans_default_domain "security" %}
{% set body_class = '' %}
{% extends 'MeetingBundle:base.html.twig' %}

{% block stylesheets %}
    <!---->
{% endblock %}

{% block imports_css %}
    <!---->
{% endblock %}

{% block imports_js %}
    <!---->
{% endblock %}

{% block top_scripts %}
    <script type="text/javascript">
        var windowWidth = $(window).width();
        var windowHeight = $(window).height();

        $(function(){
            window.Makrosum.window.width = windowWidth;
            window.Makrosum.window.height = windowHeight;

            Makrosum.funcs.windowLoader.show();

            /*var makrosumMenu = {
             element: $('.makrosum-menu'),
             width: $('.makrosum-menu').width(),
             height: $('.makrosum-menu').height()
             };
             window.Makrosum.Menu = makrosumMenu;*/

        });
    </script>
{% endblock %}

{% block body %}
    <div class="grid makrosum-container boxed">

        <div class="col_12">
            <div class="col_3"></div>
            <div class="col_6">
                <h5><img class="form-logo" src="{{ protocol_scheme }}://{{ base_hostname }}{{ asset('bundles/Makrosum/Meeting/_assets/img/logo.png') }}"> {{ "string.confirm_your_phone"|trans }}</h5>
                <hr class="alt1" />
                <form action="{{ path('confirm_phone', {'tokenKey': activation_token}) }}" class="makrosum-login-form" method="post">
                    <table>
                        <tr>
                            <td><label for="token">{{ "string.sms_token"|trans }}</label></td>
                            <td><input class="col_10" id="token" type="text" name="sms_token" placeholder="{{ "string.sms_token"|trans }}" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="col_11">
                                    <button class="button blue" type="submit">{{ "string.submit"|trans }}</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
            <div class="col_3"></div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script type="text/javascript">
        $(function () {
            $('.menu li.dropdown > a').click(function (e) {
                e.preventDefault();
                e.stopPropagation();
            });

            $('.register').click(function(){
                location.href = '{{ path("account_settings_register") }}';
            });

            Makrosum.funcs.pageLoaded(function(global){
                Makrosum.funcs.windowLoader.hide();
            });

        });
    </script>
{% endblock %}